.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100vw;
}

.ProductDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5em;
  gap: 0.5rem;
}
